execution-detail.json
{
  "Comment": "A description of my state machine",
  "StartAt": "StartCrawler",
  "States": {
    "StartCrawler": {
      "Type": "Task",
      "Parameters": {
        "Name": "forathena"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "GetCrawler"
    },
    "GetCrawler": {
      "Type": "Task",
      "Parameters": {
        "Name": "forathena"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Crawler.State",
          "StringEquals": "RUNNING",
          "Next": "Wait"
        }
      ],
      "Default": "Athena StartQueryExecution"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetCrawler"
    },
    "Athena StartQueryExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": "select name from(select name,avg(rating),dense_rank() over(order by avg(rating)desc)dr from forcrawlerdb.input group by name)where dr<=5;",
        "WorkGroup": "primary",
        "ResultConfiguration": {
          "OutputLocation": "s3://forathena2/output/"
        }
      },
      "Next": "Athena GetQueryResults"
    },
    "Athena GetQueryResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:getQueryResults",
      "Parameters": {
        "MaxResults": 10,
        "QueryExecutionId.$": "$.QueryExecution.QueryExecutionId "
      },
      "Next": "SNS Publish"
    },
    "SNS Publish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-south-1:056166221790:forstepfun",
        "Message.$": "$.ResultSet.Rows"
      },
      "End": true
    }
  }
}
